/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dropzone/dropzone
 *= require_self
 */
/* The changes made to default variables for the nav-bar menu item link-hover color and decoration (default is underlined) */
$link-hover-color: #FFFFFF;
$link-hover-decoration: font-weight-bold;
/* The changes to default variables to make the link text color, link color when hovered, and the background of the specific nav-bar menu item */
$navbar-default-link-color: #3BA9E4;
$navbar-default-link-hover-color: #FFFFFF;
$navbar-default-link-hover-bg: lighten(#3BA9E4, 25%);
/* The changes made to default variables to make the nav-bar menu item text color, and its corresponding background */
$navbar-default-link-active-color: #FFFFFF;
$navbar-default-link-active-bg: #3BA9E4;
@import "bootstrap-sprockets";
@import "bootstrap";


html{
    height: 100%;
    margin:0;
  	padding:0;
    background-color: #34495e;

}
body{
  height: 100%;
  margin:0;
  padding:0;
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

#wrapper {
	min-height:100%;
	position:relative;
  background-color: white;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
  padding-left: 10px;
  padding-right: 10px;
}
#footer {
	background:#efefef;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

.main-content{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  min-height: 100%
}

.navbar {
    margin: 0 auto;
}
